<div class="main " fxLayout="row">
    <div class="login-container mat-color--white" fxLayout="column" fxFlex="40%">
        <div class="tb-padding-36"></div>
        <div class="tb-padding-56">
            <div class="container">
                <div class="form">
                    <div class="tb-text-align-left">
                        <span class="tb-font-24 tb-color--md-blue-grey-100">We are </span>
                        <span class="tb-font-24 tb-font-normal tb-color--md-blue-grey-700">Natura</span>
                    </div>
                    <div class="tb-padding-12"></div>
                    <span class="tb-font-16">Welcome back. Please login to continue. </span>
                    <div class="tb-padding-12"></div>
                    <form>
                        <div class="card" fxLayout="column">
                            <div class="input-container">
                                <input type="#{type}" id="#{label}" required="required" />
                                <label for="#{label}">Username</label>
                            </div>
                            <div class="input-container">
                                <input type="#{type}" id="#{label}" required="required" />
                                <label for="#{label}">Password</label>
                            </div>
                        </div>

                        <div class="tb-padding-16"></div>

                        <div class="footer">
                            <div fxLayout="row">
                                <input class="tb-rect-16" type=checkbox />
                                <a href="#">Remember me</a>
                            </div>
                            <div fxFlex></div>
                            <a href="#">Forgot your password?</a>
                        </div>

                        <div class="tb-padding-16"></div>

                        <div fxLayout="row">
                            <button class="tb-button tb-button--outline tb-button--primary tb-color-bg--black ">Login</button>
                            <div class="tb-padding-16"></div>
                            <button class="tb-button tb-button--outline ">Sign Up</button>
                            <div fxFlex></div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="" fxFlex="60%">
        <div class="background ">
            <img class="" src="./assets/img/nature1.jpg" />
        </div>
    </div>
</div>