.tb-border-radius-0 {
  border-radius: 0; }

.tb-border-radius-1 {
  border-radius: 1; }

.tb-border-radius-2 {
  border-radius: 2; }

.tb-border-radius-3 {
  border-radius: 3; }

.tb-border-radius-4 {
  border-radius: 4; }

.tb-border-radius-5 {
  border-radius: 5; }

.tb-border-radius-6 {
  border-radius: 6; }

.tb-border-radius-7 {
  border-radius: 7; }

.tb-border-radius-8 {
  border-radius: 8; }

.tb-border-radius-100 {
  border-radius: 100%; }

.tb-border-radius-top-left {
  border-radius: 100%, 0, 0, 0; }

.tb-border-radius-top-right {
  border-radius: 0, 100%, 0, 0; }

.tb-border-radius-bottom-right {
  border-radius: 0, 0, 100%, 0; }

.tb-border-radius-bottom-left {
  border-radius: 0, 0, 0, 100%; }

.tb-border--dark-1 {
  border: solid 1px rgba(0, 0, 0, 0.06); }

.tb-border--dark-2 {
  border: solid 2px rgba(0, 0, 0, 0.06); }

.tb-border--light-1 {
  border: solid 1px rgba(255, 255, 255, 0.06); }

.tb-border--light-2 {
  border: solid 2px rgba(255, 255, 255, 0.06); }

.tb-border--top {
  border-top: solid 1px rgba(0, 0, 0, 0.06); }

.tb-border {
  border: solid 1px rgba(0, 0, 0, 0.06); }

.tb-border--right {
  border-right: solid 1px rgba(0, 0, 0, 0.06); }

.tb-border {
  border: solid 1px rgba(0, 0, 0, 0.06); }

.tb-border--bottom {
  border-bottom: solid 1px rgba(0, 0, 0, 0.06); }

.tb-border {
  border: solid 1px rgba(0, 0, 0, 0.06); }

.tb-border--left {
  border-left: solid 1px rgba(0, 0, 0, 0.06); }

.tb-border {
  border: solid 1px rgba(0, 0, 0, 0.06); }

.tb-display-block {
  display: block; }

.tb-display-inline {
  display: inline; }

.tb-display-inline-block {
  display: inline-block; }

.tb-display-none {
  display: none; }

.tb-display-table {
  display: table; }

.tb-display-table-cell {
  display: table-cell; }

.tb-cell-align-top {
  vertical-align: top; }

.tb-cell-align-bottom {
  vertical-align: bottom; }

.tb-cell-align-middle {
  vertical-align: middle; }

.tb-elevation--0 {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); }

.tb-elevation--1 {
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px -1px rgba(0, 0, 0, 0.14), 0px 1px 2px -1px rgba(0, 0, 0, 0.12); }

.tb-elevation--2 {
  box-shadow: 0 0px 3px -2px rgba(0, 0, 0, 0.2), 0px 4px 4px -2px rgba(0, 0, 0, 0.14), 0px 1px 3px -1px rgba(0, 0, 0, 0.12); }

.tb-elevation--3 {
  box-shadow: 0 0px 4px -2px rgba(0, 0, 0, 0.2), 0px 6px 9px -3px rgba(0, 0, 0, 0.14), 0px 2px 6px -2px rgba(0, 0, 0, 0.12); }

.tb-elevation--4 {
  box-shadow: 0 0px 5px -2px rgba(0, 0, 0, 0.2), 0px 8px 16px -4px rgba(0, 0, 0, 0.14), 0px 4px 10px -4px rgba(0, 0, 0, 0.12); }

.tb-elevation--5 {
  box-shadow: 0 0px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 25px -5px rgba(0, 0, 0, 0.14), 0px 7px 16px -5px rgba(0, 0, 0, 0.12); }

.tb-elevation--6 {
  box-shadow: 0 0px 7px -3px rgba(0, 0, 0, 0.2), 0px 12px 36px -6px rgba(0, 0, 0, 0.14), 0px 11px 20px -6px rgba(0, 0, 0, 0.12); }

.tb-elevation--7 {
  box-shadow: 0 0px 8px -4px rgba(0, 0, 0, 0.2), 0px 14px 49px -8px rgba(0, 0, 0, 0.14), 0px 16px 28px -8px rgba(0, 0, 0, 0.12); }

.tb-elevation--8 {
  box-shadow: 0 0px 10px -4px rgba(0, 0, 0, 0.2), 0px 16px 64px -10px rgba(0, 0, 0, 0.14), 0px 21px 38px -9px rgba(0, 0, 0, 0.12); }

.tb-elevation--9 {
  box-shadow: 0 0px 12px -5px rgba(0, 0, 0, 0.2), 0px 18px 81px -12px rgba(0, 0, 0, 0.14), 0px 26px 44px -10px rgba(0, 0, 0, 0.12); }

.tb-elevation--10 {
  box-shadow: 0 0px 14px -5px rgba(0, 0, 0, 0.2), 0px 20px 100px -14px rgba(0, 0, 0, 0.14), 0px 33px 52px -11px rgba(0, 0, 0, 0.12); }

.tb-image-bound-min {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%; }

.tb-image-bound-max {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%; }

.tb-margin-auto {
  width: auto;
  height: auto; }

.tb-margin-auto-vertical {
  width: 0;
  height: auto; }

.tb-margin-auto-horizontal {
  width: auto;
  height: 0; }

.tb-overflow-unset {
  overflow: unset; }

.tb-overflow-hidden {
  overflow: hidden; }

.tb-overflow-scroll {
  overflow: scroll; }

.tb-overflow-x-scroll {
  overflow-x: scroll; }

.tb-overflow-y-scroll {
  overflow-y: scroll; }

.tb-overflow-x-hidden {
  overflow-x: hidden; }

.tb-overflow-y-hidden {
  overflow-y: hidden; }

.tb-overflow-x-visible {
  overflow-x: visible; }

.tb-overflow-y-visible {
  overflow-y: visible; }


  .tb-padding-0 {
    padding: 0px; }
  
  .tb-padding-4 {
    padding: 4px; }
  
  .tb-padding-8 {
    padding: 8px; }
  
  .tb-padding-12 {
    padding: 12px; }
  
  .tb-padding-16 {
    padding: 16px; }
  
  .tb-padding-20 {
    padding: 20px; }
  
  .tb-padding-24 {
    padding: 24px; }
  
  .tb-padding-28 {
    padding: 28px; }
  
  .tb-padding-32 {
    padding: 32px; }
  
  .tb-padding-36 {
    padding: 36px; }
  
  .tb-padding-40 {
    padding: 40px; }
  
  .tb-padding-44 {
    padding: 44px; }
  
  .tb-padding-48 {
    padding: 48px; }
  
  .tb-padding-52 {
    padding: 52px; }
  
  .tb-padding-56 {
    padding: 56px; }
  
  .tb-padding-60 {
    padding: 60px; }
  
  .tb-padding-64 {
    padding: 64px; }
  
  .tb-padding-68 {
    padding: 68px; }
  
  .tb-padding-72 {
    padding: 72px; }
  
  .tb-padding-76 {
    padding: 76px; }
  
  .tb-padding-80 {
    padding: 80px; }
  
  .tb-padding-84 {
    padding: 84px; }
  
  .tb-padding-88 {
    padding: 88px; }
  
  .tb-padding-92 {
    padding: 92px; }
  
  .tb-padding-96 {
    padding: 96px; }
  
  .tb-padding-100 {
    padding: 100px; }
  
  .tb-padding-0-0 {
    padding: 0px 0px; }
  
  .tb-padding-0-2 {
    padding: 0px 2px; }
  
  .tb-padding-0-4 {
    padding: 0px 4px; }
  
  .tb-padding-2-0 {
    padding: 2px 0px; }
  
  .tb-padding-2-2 {
    padding: 2px 2px; }
  
  .tb-padding-2-4 {
    padding: 2px 4px; }
  
  .tb-padding-4-0 {
    padding: 4px 0px; }
  
  .tb-padding-4-2 {
    padding: 4px 2px; }
  
  .tb-padding-4-4 {
    padding: 4px 4px; }
  
  .tb-padding-4-4 {
    padding: 4px 4px; }
  
  .tb-padding-4-8 {
    padding: 4px 8px; }
  
  .tb-padding-4-12 {
    padding: 4px 12px; }
  
  .tb-padding-4-16 {
    padding: 4px 16px; }
  
  .tb-padding-4-20 {
    padding: 4px 20px; }
  
  .tb-padding-8-4 {
    padding: 8px 4px; }
  
  .tb-padding-8-8 {
    padding: 8px 8px; }
  
  .tb-padding-8-12 {
    padding: 8px 12px; }
  
  .tb-padding-8-16 {
    padding: 8px 16px; }
  
  .tb-padding-8-20 {
    padding: 8px 20px; }
  
  .tb-padding-12-4 {
    padding: 12px 4px; }
  
  .tb-padding-12-8 {
    padding: 12px 8px; }
  
  .tb-padding-12-12 {
    padding: 12px 12px; }
  
  .tb-padding-12-16 {
    padding: 12px 16px; }
  
  .tb-padding-12-20 {
    padding: 12px 20px; }
  
  .tb-padding-16-4 {
    padding: 16px 4px; }
  
  .tb-padding-16-8 {
    padding: 16px 8px; }
  
  .tb-padding-16-12 {
    padding: 16px 12px; }
  
  .tb-padding-16-16 {
    padding: 16px 16px; }
  
  .tb-padding-16-20 {
    padding: 16px 20px; }
  
  .tb-padding-20-4 {
    padding: 20px 4px; }
  
  .tb-padding-20-8 {
    padding: 20px 8px; }
  
  .tb-padding-20-12 {
    padding: 20px 12px; }
  
  .tb-padding-20-16 {
    padding: 20px 16px; }
  
  .tb-padding-20-20 {
    padding: 20px 20px; }
  
  .tb-padding-left-0 {
    padding-left: 0px; }
  
  .tb-padding-left-2 {
    padding-left: 2px; }
  
  .tb-padding-left-4 {
    padding-left: 4px; }
  
  .tb-padding-left-6 {
    padding-left: 6px; }
  
  .tb-padding-left-0 {
    padding-left: 0px; }
  
  .tb-padding-left-4 {
    padding-left: 4px; }
  
  .tb-padding-left-8 {
    padding-left: 8px; }
  
  .tb-padding-left-12 {
    padding-left: 12px; }
  
  .tb-padding-left-16 {
    padding-left: 16px; }
  
  .tb-padding-left-20 {
    padding-left: 20px; }
  
  .tb-padding-left-24 {
    padding-left: 24px; }
  
  .tb-padding-left-28 {
    padding-left: 28px; }
  
  .tb-padding-left-32 {
    padding-left: 32px; }
  
  .tb-padding-left-36 {
    padding-left: 36px; }
  
  .tb-padding-right-0 {
    padding-left: 0px; }
  
  .tb-padding-right-2 {
    padding-left: 2px; }
  
  .tb-padding-right-4 {
    padding-left: 4px; }
  
  .tb-padding-right-6 {
    padding-left: 6px; }
  
  .tb-padding-right-0 {
    padding-left: 0px; }
  
  .tb-padding-right-4 {
    padding-left: 4px; }
  
  .tb-padding-right-8 {
    padding-left: 8px; }
  
  .tb-padding-right-12 {
    padding-left: 12px; }
  
  .tb-padding-right-16 {
    padding-left: 16px; }
  
  .tb-padding-right-20 {
    padding-left: 20px; }
  
  .tb-padding-right-24 {
    padding-left: 24px; }
  
  .tb-padding-right-28 {
    padding-left: 28px; }
  
  .tb-padding-right-32 {
    padding-left: 32px; }
  
  .tb-padding-right-36 {
    padding-left: 36px; }
  
  .tb-padding-top-0 {
    padding-top: 0px; }
  
  .tb-padding-top-2 {
    padding-top: 2px; }
  
  .tb-padding-top-4 {
    padding-top: 4px; }
  
  .tb-padding-top-6 {
    padding-top: 6px; }
  
  .tb-padding-top-0 {
    padding-top: 0px; }
  
  .tb-padding-top-4 {
    padding-top: 4px; }
  
  .tb-padding-top-8 {
    padding-top: 8px; }
  
  .tb-padding-top-12 {
    padding-top: 12px; }
  
  .tb-padding-top-16 {
    padding-top: 16px; }
  
  .tb-padding-top-20 {
    padding-top: 20px; }
  
  .tb-padding-top-24 {
    padding-top: 24px; }
  
  .tb-padding-top-28 {
    padding-top: 28px; }
  
  .tb-padding-top-32 {
    padding-top: 32px; }
  
  .tb-padding-top-36 {
    padding-top: 36px; }
  
  .tb-padding-bottom-0 {
    padding-bottom: 0px; }
  
  .tb-padding-bottom-2 {
    padding-bottom: 2px; }
  
  .tb-padding-bottom-4 {
    padding-bottom: 4px; }
  
  .tb-padding-bottom-6 {
    padding-bottom: 6px; }
  
  .tb-padding-bottom-0 {
    padding-bottom: 0px; }
  
  .tb-padding-bottom-4 {
    padding-bottom: 4px; }
  
  .tb-padding-bottom-8 {
    padding-bottom: 8px; }
  
  .tb-padding-bottom-12 {
    padding-bottom: 12px; }
  
  .tb-padding-bottom-16 {
    padding-bottom: 16px; }
  
  .tb-padding-bottom-20 {
    padding-bottom: 20px; }
  
  .tb-padding-bottom-24 {
    padding-bottom: 24px; }
  
  .tb-padding-bottom-28 {
    padding-bottom: 28px; }
  
  .tb-padding-bottom-32 {
    padding-bottom: 32px; }
  
  .tb-padding-bottom-36 {
    padding-bottom: 36px; }
  

.tb-rect-4 {
  width: 4px;
  height: 4px; }

.tb-rect-8 {
  width: 8px;
  height: 8px; }

.tb-rect-12 {
  width: 12px;
  height: 12px; }

.tb-rect-16 {
  width: 16px;
  height: 16px; }

.tb-rect-20 {
  width: 20px;
  height: 20px; }

.tb-rect-24 {
  width: 24px;
  height: 24px; }

.tb-rect-28 {
  width: 28px;
  height: 28px; }

.tb-rect-32 {
  width: 32px;
  height: 32px; }

.tb-rect-36 {
  width: 36px;
  height: 36px; }

.tb-rect-40 {
  width: 40px;
  height: 40px; }

.tb-rect-48 {
  width: 48px;
  height: 48px; }

.tb-rect-56 {
  width: 56px;
  height: 56px; }

.tb-rect-64 {
  width: 64px;
  height: 64px; }

.tb-rect-72 {
  width: 72px;
  height: 72px; }

.tb-text-align-center {
  text-align: center; }

.tb-text-align-right {
  text-align: right; }

.tb-text-align-left {
  text-align: left; }

.tb-text-align-justify {
  text-align: justify; }

.tb-text-align-start {
  text-align: start; }

.tb-text-align-end {
  text-align: end; }

.tb-text-align-inherit {
  text-align: inherit; }

.tb-text-align-unset {
  text-align: unset !important; }

.tb-z-index-0 {
  z-index: 0; }

.tb-z-index-1 {
  z-index: 1; }

.tb-z-index-2 {
  z-index: 2; }

.tb-z-index-3 {
  z-index: 3; }

.tb-z-index-4 {
  z-index: 4; }

.tb-z-index-5 {
  z-index: 5; }

.tb-font--md-h1 {
  font-size: 6em;
  font-weight: 300; }

.tb-font--md-h2 {
  font-size: 3.75em;
  font-weight: 300; }

.tb-font--md-h3 {
  font-size: 3em;
  font-weight: 400; }

.tb-font--md-h4 {
  font-size: 2.125em;
  font-weight: 400; }

.tb-font--md-h5 {
  font-size: 1.5em;
  font-weight: 400; }

.tb-font--md-h6 {
  font-size: 1.25em;
  font-weight: 500; }

.tb-font--md-subtitle-1 {
  font-size: 1em;
  font-weight: 400; }

.tb-font--md-subtitle-2 {
  font-size: 0.875em;
  font-weight: 500; }

.tb-font--md-body-1 {
  font-size: 1em;
  font-weight: 400; }

.tb-font--md-body-2 {
  font-size: 0.875em;
  font-weight: 400; }

.tb-font--md-button {
  font-size: 0.875em;
  font-weight: 500; }

.tb-font--md-caption {
  font-size: 0.75em;
  font-weight: 400; }

.tb-font--md-overline {
  font-size: 0.625em;
  font-weight: 400; }

.tb-fx--align-content-start {
  align-content: flex-start; }

.tb-fx--align-content-center {
  align-content: center; }

.tb-fx--align-content-space-between {
  align-content: space-between; }

.tb-fx--align-content-unset {
  align-content: unset; }

.tb-fx--align-start {
  align-items: flex-start; }

.tb-fx--align-end {
  align-items: flex-end; }

.tb-fx--align-center {
  align-items: center; }

.tb-fx--align-stretch {
  align-items: stretch; }

.tb-fx--align-baseline {
  align-items: baseline; }

.tb-fx--align-unset {
  align-items: unset; }

.tb-fx--flex {
  display: flex; }

.tb-fx--flex-inline {
  display: inline-flex; }

.tb-fx--row {
  display: flex;
  flex-direction: row; }

.tb-fx--row-reverse {
  display: flex;
  flex-direction: row-reverse; }

.tb-fx--column {
  display: flex;
  flex-direction: column; }

.tb-fx--column-reverse {
  display: flex;
  flex-direction: column-reverse; }

.tb-fx--unset {
  display: flex;
  flex-direction: unset; }

.tb-fx--justify-start {
  justify-content: flex-start; }

.tb-fx--justify-end {
  justify-content: flex-end; }

.tb-fx--justify-center {
  justify-content: center; }

.tb-fx--justify-around {
  justify-content: space-around; }

.tb-fx--justify-between {
  justify-content: space-between; }

.tb-fx--justify-evenly {
  justify-content: space-evenly; }

.tb-fx--justify-unset {
  justify-content: unset; }
