/* ************************************************************************
   deprecated

   */
/*  *************************************************************************88
             All Derecated 
*/
/**
*/
.tb-button--outline.tb-button--white {
  border-style: solid;
  border-color: white;
  border-width: 0.1rem;
  color: white; }

.tb-button--raised.tb-button--white {
  background-color: white;
  color: rgba(0, 0, 0, 0.87); }

.tb-button--white {
  color: white; }
