.tb-font--md-h1 {
  font-size: 6em;
  font-weight: 300; }

.tb-font--md-h2 {
  font-size: 3.75em;
  font-weight: 300; }

.tb-font--md-h3 {
  font-size: 3em;
  font-weight: 400; }

.tb-font--md-h4 {
  font-size: 2.125em;
  font-weight: 400; }

.tb-font--md-h5 {
  font-size: 1.5em;
  font-weight: 400; }

.tb-font--md-h6 {
  font-size: 1.25em;
  font-weight: 500; }

.tb-font--md-subtitle-1 {
  font-size: 1em;
  font-weight: 400; }

.tb-font--md-subtitle-2 {
  font-size: 0.875em;
  font-weight: 500; }

.tb-font--md-body-1 {
  font-size: 1em;
  font-weight: 400; }

.tb-font--md-body-2 {
  font-size: 0.875em;
  font-weight: 400; }

.tb-font--md-button {
  font-size: 0.875em;
  font-weight: 500; }

.tb-font--md-caption {
  font-size: 0.75em;
  font-weight: 400; }

.tb-font--md-overline {
  font-size: 0.625em;
  font-weight: 400; }

.tb-font-10 {
  font-size: 10; }

.tb-font-12 {
  font-size: 12; }

.tb-font-14 {
  font-size: 14; }

.tb-font-16 {
  font-size: 16; }

.tb-font-18 {
  font-size: 18; }

.tb-font-20 {
  font-size: 20; }

.tb-font-22 {
  font-size: 22; }

.tb-font-24 {
  font-size: 24; }

.tb-font-26 {
  font-size: 26; }

.tb-font-28 {
  font-size: 28; }

.tb-font-30 {
  font-size: 30; }

.tb-font-32 {
  font-size: 32; }

.tb-font-34 {
  font-size: 34; }

.tb-font-36 {
  font-size: 36; }

.tb-font-38 {
  font-size: 38; }

.tb-font-40 {
  font-size: 40; }

.tb-font-42 {
  font-size: 42; }

.tb-font-44 {
  font-size: 44; }

.tb-font-46 {
  font-size: 46; }

.tb-font-48 {
  font-size: 48; }

.tb-font-50 {
  font-size: 50; }

.tb-font-52 {
  font-size: 52; }

.tb-font-54 {
  font-size: 54; }

.tb-font-56 {
  font-size: 56; }

.tb-font-58 {
  font-size: 58; }

.tb-font-60 {
  font-size: 60; }

.tb-font-62 {
  font-size: 62; }

.tb-font-64 {
  font-size: 64; }
